{
    attributes = (
        {
            allowsNull = N; 
            columnName = "boleto_id"; 
            name = boletoId; 
            prototypeName = id; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {allowsNull = N; columnName = tipo; name = tipo; prototypeName = charFlag; }, 
        {allowsNull = N; columnName = valor; name = valor; prototypeName = longText; }
    ); 
    attributesUsedForLocking = (boletoId, id); 
    className = "br.com.wobr.boleto.model.LocalPagamento"; 
    classProperties = (tipo, valor); 
    externalName = "boleto_informacao"; 
    fetchSpecificationDictionary = {}; 
    name = LocalPagamento; 
    parent = AbstractInformacao; 
    primaryKeyAttributes = (id); 
    restrictingQualifier = "tipo = '3'"; 
}
